/*
  Author: Lloyd Dakin
  Desc: Css for the home page. Changes color, layout, etc to give
	the website a visual theme
*/

body {
	background-color: #e0e0e0;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.area{
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  padding: 30px;
	margin-left: 20px;
  margin-right: 20px;
}

.toolbar{
	position: fixed;
	left: 0%;
	height: 80%;
	width: 25%;
}

.content{
	position: fixed;
	right: 0%;
	height: 80%;
	width: 75%;
}

#siteHeader{
	background-image: url('../img/succulent_row.png');
    background-repeat: no-repeat;
    background-position: left;
		background-size: 50%;
	font-family: Courier, monospace;
	text-align: right;
	padding: 30px;
	background-color: rgb(218, 161, 55);
  color: #eeecec;
	margin-top: 10px;
	margin-bottom: 20px;
}

#headerTitle{
	font-size: 50px;
	margin-bottom: 0px;
}

#friendsList{
	height: 85%;
	margin-top: 10px;
	background-color: #e0e0e0;
}

#friendsTitle{
	color: black;
	text-align: center;
	margin: 10px;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

#posts{
	height: 85%;
	margin-top: 10px;
	background-color: #e0e0e0;
	overflow-y: scroll;
}

#statusTitle{
	color: rgb(168, 124, 66);
	background-color: rgb(57, 100, 84);
	text-align: center;
	margin: 10px;
	font-size: 30px;
}

#helpButton{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 20px;
}

.postDiv{
	background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;

	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 12px;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#like {
	display: inline-block;
	margin-left: 20px;
}

.userTile{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: none;
  border-radius: 12px;
  background-color: white;
	padding: 20px;
}

.friendTile{
	width: 75%;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 40px;
	background: rgb(56, 56, 56);
	color: #e0e0e0;
	height: 100px;
	padding: 30px;
	float: left;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2d5c29;
  color: rgb(226, 226, 226);
  padding: 10px;
  border: none;
  border-radius: 12px;
}

input{
	border: none;
}

#friendsList{
	overflow-y: scroll;
}

#siteContent {
	margin-bottom: 10px;
}
